.plans {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 36px;
  height: 65vh;
  margin-bottom: 112px;
  padding: 64px;

  &-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      text-transform: uppercase;
      color: #527246;
      text-align: start;
    }
    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      padding-bottom: 32px;
    }

    &__actions {
      display: flex;
      padding: 8px;
      border-radius: 7px;
      background-color: #fff;
      &-button {
        width: 160px !important;
        height: 60px !important;
        font-size: 20px !important;
        border-radius: 7px !important;
        text-align: center !important;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #fff;
  }
  &-images {
    width: 100%;
    height: 100%;
    background-image: url('../assets/comfortPage/images/120m2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    border-radius: 20px;
    &--kitchen {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      background-image: url('../assets/comfortPage/images/135m2.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      border-radius: 20px;
    }
    &--garage {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      background-image: url('../assets/comfortPage/images/135m2_garage.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      border-radius: 20px;
    }
    &--hidden {
      display: none;
    }
  }
}

.active-plan {
  background-color: #fff !important;
  color: #8E8E93 !important;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1280px) {
  .plans {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    &-info {
      align-items: center;
      text-align: center;
      &__title {
        text-align: center;
      }
    }
    &-img {
      height: 500px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 868px) {
  .plans {
    flex-wrap: wrap;
    margin-bottom: 300px;
    &-info {
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .plans {
    padding: 0 0 40px 0;
    
    &-info {
      &__title {
        font-size: 22px;
      }
      &__text {
        font-size: 16px;
      }
    }

    &-info__actions {
      width: 100% !important;
      &-button {
        height: 50px !important;
        width: 100% !important;
        font-size: 16px !important;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .plans {
    margin-bottom: 350px;
    &-img {
      height: 345px;
    }
  }
}