$base-font: 'Work Sans', sans-serif;
$main-color: #181E1A;
$title-color: #7F9E56;
$button-color: #527246;
$text-color: #969F9A;

.complexes {
    margin-top: 110px;

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .complex {
        padding: 110px 0;

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: start;
            
            &-slider {
                width: 650px;
                height: 620px;
            }

            .set-blur {
                filter: blur(2px);
                box-shadow: 10px 20px 20px grey;
            }

            &-types {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: start;
                align-items: center;
                
                .type__button {
                    width: 85px;
                    height: 45px;
                    background-color: #fff;
                    color: $title-color;
                    border: 1px solid $title-color;

                    &--active {
                        background-color: $button-color;
                        color: #fff;
                        border: none;
                    }
                }
            }

            &-text {
                width: 650px;
                height: 620px;
                background-color: $main-color;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 20px;
                padding: 0 36px;
                border-radius: 0 20px 20px 0;
                
                

                .info__title {
                    color: $title-color;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 32px;
                    text-transform: uppercase;
                }

                .info__sub-title {
                    font-size: 18px;
                    color: $text-color;
                    font-weight: 500;
                    line-height: 32px;
                    text-transform: uppercase;
                }

                .info__text {
                    color: $text-color;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.176px;

                    & span {
                        color: $title-color;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .info__price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        &__base-card {
            position: absolute;
            transform: translateX(100%);
            z-index: 1;
            justify-content: start;
            padding-top: 36px;
            gap: 16px;
            width: 650px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            .text-container {
                display: flex;
                flex-direction: column;
                gap: 16px;
                

                .sizes-container {
                    display: flex;
                    flex-direction: column;
                }
            }

            .info__container {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }

            .info-text {
                font-size: 16px;
                color: $text-color;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.176px;

                &__extra {
                    display: none;
                }
            }

            .upper-text {
                text-transform: uppercase;
                font-size: 18px;
            }

            .info-actions {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: max-content;

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 1px;
                    background: #fff;
                    transition: width .3s;
                }
    
                &:hover::after {
                    width: 100%;
                    transition: width .3s;
                }

                &__btn {
                    display: flex;
                    border: none;
                    background: none;
                    font-family: $base-font;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0.6px;
                    color: #fff;
                    cursor: pointer;
                    text-align: center;
                    align-items: center;
                }

                .btn-icon {
                    width: 24px;
                    height: 24px;
                }

                .show-less {
                    display: none;
                }
            }
        }

        .show-extra {
            position: absolute;
            transform: translateX(30%);
            width: 980px;
            box-shadow: 10px 20px 20px grey;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .form {
            margin-top: 45px;
            padding: 0 16px;

            &__container {
                display: flex;
                flex-direction: column;
                
                &-title {
                    color: $main-color;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 32px;
                }

                &-actions {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 45px;
                    gap: 25px;

                    & .item {
                        flex: 1 1 266.66px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1439px) {

    .complex__info-slider {
        width: 600px !important;
    }

    .complex__base-card {
        width: 600px !important;
    }

    .show-extra {
        width: 900px !important;
    }
}

@media screen and (max-width: 1360px) {
    .complexes {

        .complex__info {
            margin: 0 70px;

            &-slider {
                width: 500px !important;
                height: 500px;
            }

            .show-extra {
                width: 760px;
            }

            .info__title {
                font-size: 24px;
            }

            .info__sub-title {
                font-size: 16px;
            }

            &-text {
                width: 500px;
                height: 500px;
                gap: 1px;

                .info__text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .text-container {
                gap: 4px;
            }
        }

        .complex__base-card {
            padding-top: 10px;
            width: 500px !important;

            .info-text {
                font-size: 14px !important;
            }
        }

        .show-extra {
            width: 730px !important;
        }

        .besket_text {
            gap: 8px !important;
            padding-top: 8px;
        }
    }
}