.htype {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    &-image--hidden {
      display: none;
    }
    &-image {
        border-radius: 20px;
        object-fit: cover;
        max-width: 700px;
        max-height: 700px;
    }
  
    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &__text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        color: #555555;
        max-width: 60%;
        margin-top: 20px;
        margin-bottom: 60px;
      }
    }
  
    &-content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 36px;
    }
  
    &-actions {
      &__buttons {
        display: flex;
        width: 100%;
        background-color: #F1F3F5;
        padding: 8px;
        margin-bottom: 32px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
      }
    }
  
    &-button {
      padding: 15px;
      font-size: 20px;
      width: 165px;
      line-height: 18px;
      height: 48px;
      border-radius: 8px;
      border: none;
      background-color: #527246;
      color: #FFFFFF;
      cursor: pointer;
  
      &--noactive {
        padding: 15px;
        font-size: 20px;
        line-height: 18px;
        width: 165px;
        height: 48px;
        border-radius: 7px;
        border: none;
        color: #555555;
        cursor: pointer;
      }
    }
  
    &__list {
      width: 100%;
    }
  
    &-list {
      display: flex;
      flex-direction: column;
      &--hidden {
        display: none;
      }
    }
  }
  
  .hlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 8px;
  
    &:nth-child(even) {
      background-color: #F7F7F7;
    }
  
    &-item {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  
    &-text {
      font-size: 24px;
      line-height: 40px;
      font-weight: 500;
      color: #555555;
    }
  }
  
  @media screen and (max-width: 1920px) {
    .htype-image {
      width: 656px;
      height: 656px;
    }
  }
  
  @media screen and (max-width: 1440px) {
    .htype-image {
      width: 556px;
      height: 556px;
    }
  }
  
  @media screen and (max-width: 1126px) {
    .htype-image {
      width: 370px;
      height: 370px;
    }
  }
  
  @media screen and (max-width: 1023px) {
  
    .htype-main__text {
      display: none;
    }
  
    .htype-content {
      flex-direction: column;
    }
  
    .htype-image {
      width: 556px;
      height: 556px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .htype-image {
      width: 100%;
    }
  
    .hlist-text {
      font-size: 16px;
    }

    .htype-content {
      width: 100%;
    }
    // .htype-button .htype-button--noactive{
    //   width: 100%;
    // }
  }
  
  @media screen and (max-width: 500px) {
    .htype-image {
      height: 350px;
    }
  
    .htype-button, .htype-button--noactive{
      width: 100%;
    }
  }