.west-plan__img {
    width: 600px;
    height: 368px;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .west__info-container {
        flex-direction: column;
        width: 100%;
    }
    .west-plan__img{
        width: 80%;
    }
    .west__info-description {
        width: 80%;
    }
}

@media screen and (max-width: 820px) {
    .west-plan__img {
        width: 100%;
    }
    .west__info-description {
        width: 100%;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 480px) {
    .west-plan__img {
        height: 228px;
    }
}